body{
background: url(../imagenes/baner_Listo.png);
background-size: cover;
background-attachment: fixed;
width: 100%;
height: 100%;
}

.boton{
	background:#D2E0E0;
	color: #1A02FD;
	display: inline-block;
	font-size: 50px;
	margin: 20px 300px;
	padding: 10px 85px;
	width: 200px;
	text-decoration: none;
	text-align: center;
	border-radius: 15px;
	position: fixed;
	bottom: 0;
	box-shadow: 0px 3px 0px #706868;
}
.boton:hover{
	box-shadow: 0px 0px 0px;
	padding: 7px 0px;
}
